body{
    background-color: #d06828;
    margin: 0;
    padding: 0;
}







































a{
    text-decoration: none;
}

#footer {
    background-color: rgb(191, 176, 153);
    padding: 8px;
    margin-top:32px ;
    text-align: center;
    width: 100%;
}

#footer-links{
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}